





.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}

.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:top left, top right;
}




    nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 200px;
}


    /* nav style */
    .text-primery{
        color: #FD6E0A;

    }
    .font{
        font-weight: 800;
        font-size: 45px;
    }
nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn{
    background-color:#FD6E0A ;
    font-weight: bold;
    font-size: 20px ;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}


.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 220px;
}
.about{
    border-radius: 10pxsss;
    padding: 150px 130px;
    text-align: center;
    margin-top: 130px;
}
.banner-cont{
    /* justify-content: space-between; */
    max-width: 580px;
}
.grit{
    font-size: 45px;
    font-weight: 600px;

}
.name{
    font-size: 85px;
    font-weight: bold;
}


.sec-bg{
    background-color:#FFF8F3 ;

}


    /* nav style */





    .tit{
        font-size: 35px;
        font-weight: bold;
        color: #181818;
    }
    .descip{
        font-size: 18px;
        color: #757575;
    }
.text-center{
    text-align: center;
}

    .title-descip {
        font-weight:bold

    }
    .about-items{
        display: flex;
        justify-content: space-around;
    }

    .skills-comtainer{
        display: flex;
        gap: 24px;
    }
    .skill{
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 6px 50px 0px black;
    }
